<%- include("include/_header") %>

<body>
  <%- include("include/_navigation") %>

  <div class="container mx-auto my-4">
    <div class="d-flex flex-column">
      <div class="text-center">
        <h1 class="mb-4">Articles</h1>
        <a href="/articles/new" class="btn btn-success">Compose <i class="fas fa-plus-square"></i></a>
      </div>
    </div>

    <% articles.forEach(article => { %>
      <div class="card mt-4 p-2">
        <div class="card-body">
          <h3 class="card-title"><%= article.title %></h3>
          <div class="card-subtitle text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-info mt-1">Read More <i class="fas fa-info-circle"></i></a>
          <a href="articles/edit/<%= article.id %>" class="btn btn-warning mt-1">Edit <i class="fas fa-edit"></i></a>
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger mt-1">Delete <i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    <% }) %>

  </div>
</body>
</html>